<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link href="../../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<!--  solucion momentanea -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="alert alert-warning alert-dismissible" role="alert"
				 th:if="${param.error}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span>Error al intentar borrar</span>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Juego</th>
							<th>Habilidad</th>
							<th>Nivel</th>
							<th>Descripción</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="juegohabilidad : ${juegohabilidades}">
							<td th:text="${juegohabilidad.juegoId.nombre}"></td>
							<td th:text="${juegohabilidad.habilidadId.nombre}"></td>
							<td>
							<div class="rating col-md-8">
												<span th:each="i:${#numbers.sequence(1,5)}"
													class="glyphicon"
													th:classappend="${i <= juegohabilidad.nivel} ? 'glyphicon-star': 'glyphicon-star-empty'"></span>
											</div>
							</td>																									
							<td th:text="${juegohabilidad.descripcion}"></td>
							<td class="operaciones"><a href="#"
								th:href="@{/admin/juegohabilidad/editar/{id}(id=${juegohabilidad.relacionId})}"
								class="btn btn-primary">Editar</a> 
								<button type="button" class="btn btn-danger" data-toggle="modal"
									data-target="#delete-modal" th:data-id="${juegohabilidad.relacionId}">Borrar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar categoria</h4>
				</div>
				<div class="modal-body">
					<p>¿Está usted seguro de borrar esta categoría?</p>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<a href="/admin/juegohabilidad/borrar/" class="btn btn-danger">Sí</a>
				</div>
			</div>

		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" 
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>


</body>
</html>