<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error 404</title>
<link href="../static/css/error.css" th:href="@{/css/error.css}"
	rel="stylesheet" />
</head>
<body class="bg-purple">
	<link
		href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
		rel="stylesheet" id="bootstrap-css">
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<div class="stars">
		<div class="custom-navbar">
			<div class="brand-logo">
			<h2 class="logo404">PLAYMESA</h2>
				<img src="https://i.ibb.co/QpRkFDr/logo404.png" style="margin-left: 15%" width="150px">
			</div>
			<div class="navbar-links">
				<ul>
					<li><a href="http://localhost:8080/#"
						class="btn-request">GO TO PLAYMESA HOME</a></li>
						<li><a href="http://localhost:8080/#">MiS JUEGOS</a></li>
						<li><a href="http://localhost:8080/#">CONOCENOS</a></li>
						<li><a href="http://localhost:8080/#">CONTACTO</a></li>
				</ul>
			</div>
		</div>
		<div class="central-body">
			<img class="image-404" src="http://salehriaz.com/404Page/img/404.svg"> 
			<a href="http://localhost:8080/#"
				class="btn-go-home">GO TO PLAYMESA AGAIN</a>
		</div>
		<div class="objects">
			<img class="object_rocket"
				src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
			<div class="earth-moon">
				<img class="object_earth"
					src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
				<img class="object_moon"
					src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
			</div>
			<div class="box_astronaut">
				<img class="object_astronaut"
					src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
			</div>
		</div>
		<div class="glowing_stars">
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>
			<div class="star"></div>

		</div>

	</div>
</body>
</html>