<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link href="../../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<!--  solucion momentanea -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
		<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" th:href="@{/index}">PlayMesa</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
	      <li class="active"><a href="#" th:href="@{/habilidades}">Lista Habilidades</a></li>
	      <li><a href="#">Contacto</a></li>
	      <li><a href="#" th:href="@{/logout}">Cerrar Sesión</a></li>
	    </ul>
	  </div>
	</nav>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<table class="table">
					<thead>
						<tr>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="habilidad : ${habilidades}">
							<td><img
								th:src="${not (#strings.isEmpty(habilidad.imagen))} ? ${habilidad.imagen} : 'http://placehold.it/48x48'"
								class="img-responsive icono-categoria" alt="imagen" /></td>
							<td th:text="${habilidad.nombre}"></td>
							<td th:text="${habilidad.descripcion}"></td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" 
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>


</body>
</html>